<meta charset="utf8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5154aa">
<meta name="msapplication-TileColor" content="#5154aa">
<meta name="theme-color" content="#5154aa">
<link rel="stylesheet" href="/static/reset.css">
<link rel="stylesheet" href="/static/style.css?v=1">
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Inconsolata:400,700" rel="stylesheet">
