<html>
    <head>
        <% include ../partials/head.html %>
        <%-head%>
    </head>
    <body>
        <div class="bsr-header">
            <div class="bsr-content bsr-header-content">
                <div>
                    <img class="bsr-header-swirl" src="/static/images/swirl.png" draggable="false">
                    <a href="/" class="bsr-header-link">
                        <h1 class="bsr-header-title"><%= config.site.name %></h1>
                    </a>
                    <img class="bsr-header-swirl is-flipped" src="/static/images/swirl.png" draggable="false">
                </div>
            </div>
        </div>

        <div class="bsr-content bsr-body">
            <%-body%>
        </div>

        <div class="bsr-footer">
            <div class="bsr-content bsr-footer-content">
                <span class="bsr-footer-credit"><%= config.site.footer %></span>
            </div>
        </div>
    </body>
</html>
